@font-face {
	font-family: 'Aller';
	src: url ('../fonts/Aller/Aller_Rg.ttf');
}

@font-face	{
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'Chunk Five';
	src: url('../fonts/ChunkFive/ChunkFive.otf');
}

.nav>li { 
	padding: 0px 14px;
}

.navbar-brand {
	min-height: 80px;
}

.navbar-brand>img {
    min-width: 200px;
}

.navbar-default .navbar-nav>li>a {
	font-size:24px;
	color:#33495C;
}

.navbar-default .navbar-nav>.active>a {
	background-color: #33495C;
	color:white;
} 


.navbar-default .navbar-nav> li >a:hover {
	background-color:#F4211D;
	color:white;
}

.navbar-default .navbar-nav>.active>a {

}

.navbar-default .navbar-nav>.active>a:hover {
	background-color:#F4211D;
	color:white;
}

.navbar-right .dropdown-menu {
	background: url('/images/hover_dropdown.png');
	background-size: cover;
	border:none;
	box-shadow: none;
	padding: 8px 16px;
}

.dropdown-menu>li>a {
	color:white;
	font-size: 18px; 
}
.dropdown-menu>li>a:hover {
	color:rgb(226, 69, 102);
	width:100%;
}

.dropdown-menu>li.active>a:hover {
	color:white;
}

.jumbotron {
	margin-top: 50px; 
}

.jumbotron h1 {
	margin-top:150px;
	font-size:36px;
}

.modal-header {border-bottom: none;}
.modal-footer {border-top: none;}
.modal-body {margin-top: 0;}


#formlabels {
	padding:5px 25px;	
}


.form-inline .form-control {
	width:83%;
	border-radius: none;
}

.btn:focus,.btn:active {
   outline: none !important;
   color:white;
}

.close {
	color: white;
	opacity: 1;
	font-size: 36px;
}

p.lead {
	padding: 60px 60px;
}



@media screen and (max-width: 480px) {
	#formlabels {
		padding:5px;	
	}
}

@media screen 
and (min-width: 480px)
and (max-width: 992px) {
	.jumbotron {
		margin-top:10px;
	}

	.jumbotron h1 {
		line-height: 1.4;
		font-size: 30px;
	}
}

@media screen and (max-width: 480px) {
	.jumbotron {
		position: relative;
		bottom:80px;
	}

	.jumbotron h1 {
		font-size:28px;
		line-height: 1.4;
	}

	p.lead {
		padding: 30px 60px;
	}
}

/*@media screen and (max-width: 767px) {
	.navbar-nav .open .dropdown-menu {
		height: 
	}
}*/

